.message {
    display: flex;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 40px);
    background-color: #555;
    border-radius: 10px;
}

.username-time-row {
    display: flex;
}

.text-container {
    display: block;
    padding: 10px;
    padding-top: 0;
    overflow-wrap: break-word;
}

.text-container > h4 {
    text-decoration: underline;
    margin-bottom: 6px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}


.time {
    font-size: 0.9em;
    position: relative;
    color: #aaa;
    margin-left: 10px;
}